@mixin make-columns($class: "") {
	
	@for $i from 0 to $humble-gs-cols+1 {

		$col-class: $humble-gs-col-prefix + $class + '-';
		$value: percentage($i / $humble-gs-cols);
		
	    .#{$col-class}#{$i} {
	        width: $value;
	    }
		
	    .#{$col-class}push-#{$i},
        .#{$col-class}offset-#{$i} {
	        left: $value;
	    }
		
	    .#{$col-class}pull-#{$i} {
	        right: $value;
	    }
		
	}
	
}

@mixin responsive-visibility($parent) {
    
    #{$parent} {
        display: block !important;
    }
    
    table#{$parent} { 
        display: table; 
    }
    
    tr#{$parent} { 
        display: table-row !important; 
    }
    
    th#{$parent},
    td#{$parent} { 
        display: table-cell !important; 
    }
}

@mixin responsive-invisibility($parent) {
    
    #{$parent} {
        display: none !important;
    }
    
}