body {
	font-family: 'Source Sans Pro', sans-serif;
    color: rgba(0, 0, 0, .8);
}

h1 {
	font-weight: 400;
}

h2 {
	font-weight: 300;
}

.row {
    margin-bottom: 16px;
}

.col-content {
	height: 60px;
	line-height: 60px;
	font-weight: 200;
	text-indent: 16px;
	background: rgba(0, 0, 0, .05);
}