body {
	font-family: 'Source Sans Pro', sans-serif;
    color: rgba(0, 0, 0, .8);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
	font-weight: 700;
    font-size: 60px;
}

h2 {
	font-weight: 300;
    font-size: 36px;
}

h3 {
	font-weight: 400;
    font-size: 28px;
}

h4 {
	font-weight: 400;
    font-size: 20px;
}

.header {
    background: rgba(0, 0, 0, .8);
}

.header h1,
.header h2 {
    color: #fff;
}

.row {
    margin-bottom: 16px;
}

.col-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
	font-weight: 200;
	text-indent: 16px;
	background: rgba(0, 0, 0, .05);
}

hr {
    height: 1px;
    border: 0;
    background: rgba(0, 0, 0, .2);
    margin-top: 30px;
    margin-bottom: 30px;
}